.bg-footer {
  background-image: url("https://usuploads.s3.amazonaws.com/itlearn360/uploads/2018/09/Footer-Background-Image.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background: #000;
}

li {
  list-style: none;
}

.text-instagram {
  color: rgb(196, 44, 115);
}

.text-instagram:hover {
  color: rgb(196, 44, 115);
}
